@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

:root {
    --primary-color:orange;
    --dark-gray:yellow;
    --white:white;
}

body {
    font-family: 'Fira Sans', sans-serif;
    margin: auto;
    background-image: url('minions.jpg');
}