@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

:root {
    --primary-color:orange;
    --dark-gray:yellow;
    --white:white;
}

body {
    font-family: 'Fira Sans', sans-serif;
    margin: auto;
    background-image: url('minions.jpg');
}
/* list item inline */
.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* br */

br {
    margin: 1rem 0rem;
}
